<template>
  <div class="Dashboard">
    <h1 >Estacionamiento Alegra</h1>
    <b-btn variant="outline-success" size='sm' v-b-modal.modal_ingreso>Ingreso</b-btn> <b-btn variant="outline-danger" v-if="showSalida" size='sm' @click="showModalSalida">Salida</b-btn>
    <div class='container_estacionamiento'>
          <table>
            <tbody>
              <tr v-for="(fila, indexf) in filas" v-bind:key='indexf' >
                    <td v-for="(celda, indexc) in fila.celdas" :key="`${indexf}_${indexc}`" v-bind:class="[celda.vehiculo  ?  'ocuped' : 'avaible']">
                      <span class='title_celda'>C{{ celda.celda }} <b-btn v-if="celda.vehiculo" :class="['small']" variant="danger" size='sm' @click="deleteVehicule(celda.celda,celda.vehiculo.placa)">X</b-btn></span>
                      <p>
                        <span v-if="celda.vehiculo">
                        {{ celda.vehiculo.placa }}</span>
                        <span v-else >&nbsp;</span>
                      </p>
                    </td>
              </tr>
            </tbody>
          </table>
    </div>
    <ingreso @fetch:celdas="getCeldas"></ingreso>
    <salida  @fetch:celdas="getCeldas"></salida>
  </div>
</template>

<script>
// eslint-disable-next-line
import {EventBus} from '@/services/event-bus'
import Service from '@/modules/estacionamiento/services/Service'
import VehiculoService from '@/modules/vehiculo/services/Service'
import Ingreso from '@/modules/vehiculo/components/Ingreso.vue'
import Salida from '@/modules/vehiculo/components/Salida.vue'
export default {
  name: 'Estacionamiento',
  components: {
    Ingreso, Salida
  },
  data () {
    return {
      showSalida : false,
      filas: []
    }
  },
  mounted () {
    this.getCeldas()
  },
  // define methods under the `methods` object
  methods: {
    async getCeldas () {
      const response = await Service.fetchCeldas()
      this.filas = response.data
    },
    showModalSalida () {
      EventBus.$emit('fetch:estacionamiento')
      this.$root.$emit('bv::show::modal', 'modal_salida')
    },
    async deleteVehicule (celda, placa) {
      const response = await VehiculoService.deleteVehicule(celda, placa)
      this.getCeldas()
    }
  }
}
</script>
<style lang="scss" scoped>
div.container_estacionamiento {
    margin-top:15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title_celda{
  font-size:35px;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 3px;
    border-color: white;
}

table tr td {
  padding: 10px !important;
}
table tr td.avaible {
  background: gray;
  color: #fff;
}
table tr td.ocuped {
  background: #4d7ef7;
  color: #fff;
}
a {
  color: #4d7ef7;
  text-decoration: none;
}
.small {
    padding: .05rem .05rem;
}
</style>
