<template>
  <div class="container">

    <div class="jumbotron text-center">
            <h1>Bienvenido para el  <strong>Estacionamiento</strong> Alegra!</h1>

        <p>Test by jeanmendozar@gmail.com</p>
        <router-link v-bind:to="{ name: 'EstacionamientoDashBoard' }" >View App</router-link>
    </div>

</div>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
