<template>
  <div id='container_ingreso'>
      <b-modal ref="modal_ingreso" id="modal_ingreso" title="Ingreso">
          <div class='text-left'>
              <b-form >
                <b-form-group label="Placa:">
                  <b-form-input type="text"
                                required
                                v-model='vehiculo.placa'
                                placeholder="Enter placa">
                  </b-form-input>
                </b-form-group>
                <b-form-group label="Marca">
                  <b-form-input type="text"
                                required
                                v-model='vehiculo.marca'
                                placeholder="Enter marca">
                  </b-form-input>
                </b-form-group>
              </b-form>
                <p v-if="errors.length">
                  <b>Please correct the following error(s):</b>
                  <ul>
                    <li v-for="error in errors" :key='error'>{{ error }}</li>
                  </ul>
                </p>
          </div>
          <div slot="modal-footer" class="w-100">
           <b-btn size="sm" class="float-right" variant="primary"  @click="saveIngreso">Save</b-btn>
         </div>
      </b-modal>
  </div><!-- //end container ingreso-->
</template>

<script>
import Service from '@/modules/vehiculo/services/Service'
class Vehiculo {
  constructor (placa = '', marca = '') {
    this.placa = placa
    this.marca = marca
  }
}

export default {
  name: 'Ingreso',
  data () {
    return {
      errors: [],
      vehiculo: new Vehiculo()
    }
  },
  methods: {
    async saveIngreso () {
      this.errors = []
      if (!this.vehiculo.placa) {
        this.errors.push('Placa required.')
      }
      if (!this.vehiculo.marca) {
        this.errors.push('Marca required.')
      }
      if (!this.errors.length) {
        const res = await Service.addIngreso({
          placa: this.vehiculo.placa,
          marca: this.vehiculo.marca
        })
        if (res.status !== 200) {
          this.errors.push('Error Inesperado.')
        } else {
          if (res.data.lleno === true) {
            alert('Estacionamiento Full')
          }
          if (res.data.vehiculo_existe === true) {
            alert('Vehiculo ya esta Estacionado')
          } else {
            this.$emit('fetch:celdas')
          }
          this.vehiculo = new Vehiculo()
          this.$refs.modal_ingreso.hide()
        }
      }
    }
  }
}
</script>
