<template>
  <div id='container_salida'>
        <b-modal id="modal_salida" size="lg" ref="modal_salida" hide-footer title="Salida">
            <b-container class="text-left">
            <b-row>
                <b-col cols="3" v-for="(obj, index) in celdas_ocupadas" :key="index" :class="['index--' + obj.celda,'margin']" >
                  <b-card-group deck class="md-4">
                      <b-card border-variant="primary"
                              :header="`C-${obj.celda}`"
                              header-bg-variant="primary"
                              header-text-variant="white"
                              align="center" >
                        <div class="card-text">
                            <p><b>Placa :</b> {{ obj.vehiculo.placa }} </p>
                            <p><b>Marca :</b> {{ obj.vehiculo.marca }} </p>
                            <b-badge variant="light"><b-btn  variant="danger" size='sm'>Salir</b-btn></b-badge>
                        </div>
                      </b-card>
                  </b-card-group>
                </b-col>
            </b-row>
            </b-container>
        </b-modal>
  </div><!-- //end container salida-->
</template>

<script>
// eslint-disable-next-line
import {EventBus} from '@/services/event-bus'
import Service from '@/modules/estacionamiento/services/Service'
import VehiculoService from '@/modules/vehiculo/services/Service'
export default {
  name: 'Salida',
  data () {
    return {
      celdas_ocupadas: []
    }
  },
  created () {
    EventBus.$on('fetch:estacionamiento', () => {
      this.getEstacionamiento()
    })
  },
  methods: {
    async getEstacionamiento () {
      const response = await Service.fetchEstacionamiento()
      this.celdas_ocupadas = response.data
    },
    async deleteVehicule (celda, placa) {
      const response = await VehiculoService.deleteVehicule(celda, placa)
      console.log(response)
      EventBus.$emit('get:celdas')
    }
  }
}
</script>
<style lang="scss" scoped>
.margin {margin-bottom:10px}
</style>
